<div *ngIf="dataLoaded == false" class="text-center">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label fw-bold bg-warning">Search by Brands</label>
  <input type="text" [(ngModel)]="filterText" class="form-control"
  placeholder="Please type brand name">
</div>
<ul *ngIf="dataLoaded == true" class="list-group">
  <li class="bg-warning text-dark fw-bold"
    routerLink="/cars"
    [ngClass]="getAllBrandClass()"
    (click)="removeCurrentBrand()"
    aria-current="true"
  >
    All Brands
  </li>

  <li
    routerLink="/cars/brand/{{ brand.brandId }}"
    (click)="setCurrentBrand(brand)"
    *ngFor="let brand of brands | filterBrand:filterText"
    [ngClass]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>

